/* Letter */
.letter-ctn {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: auto;
    gap: 80px;
}

.letter-ctn img {
    width: 43%;
    object-fit: cover;
}

.letter-layout {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: calc(100% - 43% - 80px);
    justify-content: flex-start;
    align-items: flex-start;
}

.letter-layout>h6 {
    text-align: start;
}

/* Infor */
.infor-ctn {
    display: flex;
    width: 60%;
    margin: 0 auto;
    gap: 80px;
}

.infor-ctn>img {
    width: calc(100% - 53% + 80px);
    object-fit: cover;
}

.infor-layout {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 53%;
}

.infor-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.infor-content>h6 {
    text-align: start;
}

/* Philo */

.overlay-body__4col__item>h1 {
    text-shadow:
        -1px -1px 0 var(--primary),
        1px -1px 0 var(--primary),
        -1px 1px 0 var(--primary),
        1px 1px 0 var(--primary);
}

/* exporters */

.exporters-ctn {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 60px;

    padding: 40px 0;
}

.exporters-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 40px;
    column-gap: 60px;
}

.exporters-item {
    display: flex;
    gap: 32px;

    >h4 {
        text-align: start;
    }
}

.exporters-brand {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;

    padding-right: 8px;
    border-right: 1px solid var(--secondary-2);
}


@media (max-width: 1440px) {

    /* Letter */
    .letter-ctn {
        gap: 60px;

        .letter-layout {
            gap: 28px;
            width: calc(100% - 43% - 60px);

            .overlay-heading-light {
                align-items: flex-start;
            }

        }

    }

    /* Infor */
    .infor-ctn {
        gap: 60px;
    }

    /* Philo */
    .overlay-ctn__4col {
        .overlay-layout__4col {
            .overlay-body__4col {
                .overlay-body__4col__item {
                    gap: 16px;
                }
            }
        }
    }
}

@media (max-width: 1132px) {

    /* Letter */
    .letter-ctn {
        flex-direction: column;
        gap: 40px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            aspect-ratio: auto 16/9;
        }

        .letter-layout {
            gap: 16px;
            display: flex;
            width: 100%;

            .overlay-heading-light {
                align-items: center;
            }

            h6 {
                font-size: var(--font-small);
                text-align: center;
                line-height: calc(var(--font-small) + 12px);
            }
        }
    }

    /* Infor */
    .infor-ctn {
        flex-direction: column-reverse;
        gap: 40px;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            aspect-ratio: auto 16/9;
        }

        .infor-layout {
            gap: 16px;
            width: 100%;
            display: flex;

            .overlay-heading-light {
                align-items: center;
            }

            h6 {
                font-size: var(--font-small);
                text-align: center;
                line-height: calc(var(--font-small) + 12px);
            }
        }
    }

    /* exporters */
    .exporters-ctn {
        padding: 24px 0;
        gap: 48px;

        .exporters-grid {
            row-gap: 24px;
            column-gap: 24px;

            .exporters-item {

                gap: 20px;

                h4 {
                    font-size: var(--font-small);
                    line-height: calc(var(--font-small) * 1, 6);
                }
            }
        }
    }

    /* fields */
    .ctn {
        .fields-ctn {
            .fields-layout {
                gap: 24px;

                .fields-nav {
                    padding: 0;

                }
            }
        }
    }
}

@media (max-width: 640px) {

    /* exporters */
    .exporters-ctn {
        padding: 0;
        gap: 32px;

        .exporters-grid {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            row-gap: 24px;
            column-gap: 24px;

            .exporters-item {
                justify-content: center;
                align-items: center;
                gap: 40px;
                height: 60px;

                h4 {
                    font-size: var(--font-small);
                    line-height: calc(var(--font-small) * 1, 6);
                }

                .exporters-brand {
                    height: 100%;
                    align-items: center;
                }
            }
        }
    }

    /* fields */
    .ctn {
        .fields-ctn {
            padding: 0;

            .fields-layout
             {

                .fields-nav {

                }
            }
        }
    }
}