/* productList */

.productList-ctn {
    display: flex;
    width: 60%;
    margin: 60px auto 120px auto;
    gap: 24px;
}

.productList-sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 33%;
    position: relative;
}

/* productList wrapper */

.productList-wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: calc(100% - 33% + 24px);
}

.productList-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.productList-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 24px;
    row-gap: 28px;
    height: fit-content;
}

.productList-item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--secondary-3);
}

.productList-item>img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: auto 4/3;
}

.productList-content {
    display: flex;
    padding: 0 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.productList-content>p {
    text-align: start;
}

.largeTitle-1 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;

    >p {
        color: var(--link);
        text-decoration-line: underline;
    }
}

/* btn-dropdown */

.btn-dropdown {
    display: flex;
    padding: 12px 12px 12px 4px;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.btn-dropdown>h4 {
    text-align: start;
}

.btn-dropdown-active {
    text-align: start;
    display: flex;
    padding: 12px 12px 12px 4px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    width: 100%;
    background: var(--secondary-3);
}

.btn-dropdown-active>h4 {
    text-align: start;
    color: var(--secondary-0);
    font-weight: 600;
    line-height: 28px;
}

/* btn-tab */

.btn-tab {
    display: flex;
    padding: 12px 8px 8px 44px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    width: 100%;
}

/* .btn-tab:hover {
    background-color: var(--secondary-3);
} */

/* Tab-toogle */
#tab-toggle {
    display: none;
}

.productList-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productList-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 0;
    margin-top: 68px;
}

.tab-button-container {
    cursor: pointer;
    z-index: 1;
    background-color: var(--secondary-4);
}

/* Animation Text */


#tab-toggle~.productList-layout .btn-tab {
    height: 0;
    margin: 0;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);

    >h6 {
        display: none;
    }
}

#tab-toggle:checked~.productList-layout .btn-tab {
    height: 44px;
    transition: height 900ms cubic-bezier(0.23, 1, 0.32, 1);

    >h6 {
        display: contents;
    }
}

/* Responsive */

@media (max-width: 1440px) {

    /* productList */
    .productList-ctn {
        width: 65%;
        justify-content: space-between;
        gap: 24px;

        .productList-sidebar {

            .btn-dropdown-active>h4 {
                font-size: var(--font-body-2);
                line-height: calc(var(--font-body-2) + 4px);
            }

            .btn-dropdown>h4 {
                font-size: var(--font-body-2);
                line-height: calc(var(--font-body-2) + 4px);
            }
        }

        .productList-wrapper {
            width: 100%;
            gap: 100px;
        }
    }
}

@media (max-width: 1132px) {
    .productList-ctn {
        padding: 40px auto 100px auto;
        width: 70%;
        flex-direction: column;

        .productList-sidebar {
            width: 100%;
            padding: 24px 0;

            .btn-dropdown-active>h4 {
                font-size: var(--font-body-2);
            }
        }

        .productList-wrapper {
            width: 100%;
            gap: 100px;
        }
    }
}

@media (max-width: 768px) {
    .productList-ctn {
        width: 75%;
    }

    .largeTitle-1 {
        gap: 24px;
        font-size: var(--font-body-3);

        >p {
            color: var(--link);
            text-decoration-line: underline;
        }
    }
}

@media (max-width: 520px) {
    .productList-ctn {
        width: 80%;

        .productList-wrapper {
            width: 100%;
            gap: 100px;
        }
    }

    .productList-grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 24px;
        row-gap: 24px;
    }
}

@media (max-width: 375px) {
    .productList-ctn {
        width: 85%;
        margin: 0 auto 32px auto;
    }

    .largeTitle-1 {
        justify-content: space-between;
    }
}