.intro-ctn {
    display: flex;
    width: 60%;
    margin: 120px auto;
    gap: 240px;
    justify-content: center;
    align-items: center;
}

.intro-ctn > img {
    width: 280px;
    height: 280px;
    border-radius: 1000px;
}

.intro-layout {
    width: calc(100% - 280px + 240px);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.intro-layout > h6 {
    text-align: start;
}


/* Testimoni */

.fields-slogan > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}


