*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

/* html {
    overflow-x: hidden;
} */

section {
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

header{
    width: 100vw;
    height: 94px;
    position: fixed;
    background-color: white;
    z-index: 9;
}

header .header-content {
    display: flex;
    padding: 16px 34px 16px 40px;
    justify-content: space-between;
    align-items: center;
}

.sc3-card-btn:hover{
    background-color: #000;
    color: #FFF;

}


a:hover{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

a:visited{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hd-menu{
    display: flex;
    flex-direction: row;
    gap: 31px;
    width: 828px;
    gap: 18px;
}

.menu-list{
    text-decoration: none;
    gap: 31px;
    color: #4D4D4D;
    text-align: right;
    opacity: 0.7;   
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section1{
    width: 1170px;
    height: 390px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 130px;
    margin-left: 375px;
}

.main-img{
    height: 1083px;
}

.sc-img-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 600px;
    gap: 40px;
}

.sc-img-tag{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 4.5px;
}

.sc-img-title{
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
}

.sc-img-btn{
    display: flex;
    justify-content: center;
    width: 155px;
    padding: 15px 10px;
    border: 1px solid #FFF;
    color: white;
    text-decoration: none;
}

.sc-img-scroll{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 300px;
}


.sc-content{
    width: 470px;
    height: 370px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.sc-img{
    display: flex;
    width: 570px;
    height: 390px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.sc-mintext{
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 4.5px;
}

.sc-title{
    color: #111;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.9px;
}

.sc-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sc-text-1, .sc-text-2{
    color: #7E7D7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 375px;
    gap: 60px;
}

.sc2-hd{
    width: 1170px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.sc2-mintext{
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 4.5px;
}

.sc2-title{
    color: #111;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.9px;
    }

.sc2-content{
    width: 1175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: 32px;
}

.sc2-text{
    display: flex;
    flex-direction: column;
    width: 369px;
    height: 340px;
    gap: 20px;
}

.sc2-text-title{
    color: #111;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.sc2-text-min{
    color: #111;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
}

.btn{
    display: flex;
    justify-content: center;
    width: 155px;
    padding: 15px 10px;
    border: 1px solid #111;
    margin-left: 460px;
    
    & .btn-text{
        color: #111;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 2px;
    }
}

.section3{
    height: 591px;
}

.sc3-mintext{
    display: flex;
    height: 16px;
    flex-direction: column;
    justify-content: center;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 4.5px;
}

.sc3-title{
    padding-top: 16px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.9px;
}

.sc3-banner-title{
    padding-left: 375px;
}

.sc3-card{
    position: relative;
    bottom: 350px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sc3-mini-card{
    width: 369px;
    height: 370px;
    background: #FFF;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    
}

.icon1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.sc3-card-title{
    color: #111;
    text-align: center;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.sc3-card-text{
  
    display: flex;
    width: 300px;
    height: 83px;
    margin: 19px 35px;
    flex-direction: column;
    justify-content: center;
    

    color: #7E7D7D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.sc3-card-btn{
    margin: 25px 107.17px 50px 106.5px;
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #111;

    & .btn-text{
        color: #111;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 2px;
    }
}

.sc3-card-banner{
    margin-left: 375px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.sc4-card-banner{
    margin-left: 375px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.sc4-mini-card{
    width: 269px;
    height: 270px;
    background: #FFF;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.section5{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 375px;
}

.sc5-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.sc5-list{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.sc5-title-time{
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 4.5px;
}

.sc5-title-tit{
    color: #111;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1px;
}

.sc5-col{
    width: 369px;
    height: 504px;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
}

.sc5-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sc5-content-title{

    width: 370px;
    height: 64px;
    overflow: hidden;
    color: #111;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.sc5-content-date{
    color: #7E7D7D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sc5-content-text{
    width: 369px;
    height: 48px;
    color: #7E7D7D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    overflow: hidden;
    color: #7E7D7D;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.more-btn{  
    color: #111;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.32px;
    text-transform: uppercase;
}

.section6{
    display: flex;
    flex-direction: row;
    padding-left: 375px;
    gap: 100px;
}

.sc6-col1{
    width: 570px;
    height: 345px;
}

.sc6-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sc6-title-min{
    display: flex;
    width: 93.762px;
    height: 16px;
    flex-direction: column;
    justify-content: center;

    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

.sc6-title-tit{
    color: #111;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.9px;
}


.sc6-text{
    padding-top: 24px;
    width: 569.872px;
    color: #7E7D7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sc6-phone, .sc6-email{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sc6-contact{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.sc6-phone-tit{
    color: #111;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-top:  1px  solid black;
    width: fit-content;
    padding-top: 36px;
}

.sc6-phone-text{
    color: #7E7D7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sc6-email-tit{
    color: #111;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-top:  1px solid black;
    padding-top: 36px;
    width: 70px;
}

.sc6-email-text{
    color: #7E7D7D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

footer{
    width: 100vw;
    display: flex;
    margin-top: 120px;
}

.ft-main,.ft-banner{
    position: absolute;
    width: 100%;
   
}

.ft-end{
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 380px;
    padding-left: 375px;
}

.ft-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    height: 204px;
    padding-top: 140px;
    margin-left: 375px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);

}

.ft-content{
    width: 460.778px;
    height: 67px;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.ft-contact{
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    gap: 32px;
}

.contact-content{
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    gap: 8px;
}

.ft-end-text{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    /* color: var(--1, #00A3FF);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline; */
}

.frame-tag {
    color: #111;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 4.5px;
}

.frame-title{
    color: #111;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.9px;
}

.frame-text{
    color: #7E7D7D;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.input {
    margin-top: 40px;
}

.row1 {
   display: flex;
   gap: 20px;
   margin-bottom: 20px;
}

.row2,
.row3 {
    margin-bottom: 20px;
}

.form-control {
    display: flex;
    width: 185px;
    height: 57px;
    padding: 0px 30px 0px 25px;
    align-items: center;
    flex: 1 0 0;
    background: #F2F2F2;
    border: none;
}

.form-control2 {
    display: flex;
    width: 445px;
    height: 57px;
    border: none;
    padding: 0px 30px 0px 25px;
    justify-items: center;
    align-items: center;
    align-self: stretch;
    background: #F2F2F2;
}

.form-control3 {
    height: 123px;
    align-self: stretch;
    width: 500px;
    background: #F2F2F2;
    border: none;
}

.row-button {
    background: #FFF;
    border: none;
    padding: 1px;
    color: #111;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    text-transform: uppercase;
    float: right;
}