* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
main {
    width: 100%;
}

h1 {
    color: #111;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    letter-spacing: 0.9px;
}

h2 {
    color: #111;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;

    letter-spacing: 4.5px;
}

h3 {
    color: #7E7D7D;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

h4 {
    color: #111;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;

}

h5 {
    color: #111;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;

}

h6 {
    color: #111;
    text-align: center;
    font-family: 'Roboto';
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;

}


p {
    overflow: hidden;
    color: #111;
    text-overflow: ellipsis;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.button-next {
    all: unset;
    display: flex;
    padding: 16px 40px;
    align-items: flex-start;
    border: 1px solid #111;
    color: #111;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
}

.button-next:hover {
    background: #000;
    color: #FFF;
}

.header {
    display: flex;
    padding: 16px 34px 16px 40px;
    justify-content: space-between;
    align-items: center;

}

.menu ul {
    display: flex;
    padding: 6px 0px;
    align-items: flex-start;
    gap: 31px;
}

.menu ul li {
    all: unset;
}

.button-home {
    color: #000;
}

.banner {
    width: 100%;
    height: 986px;
    background-image: url(../images/Section.png);
    background-position: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: auto;
    gap: 24px
}

.banner-content h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: 4.5px;
    margin-top: 400px;
}

.banner-content h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 103.704% */
}

.button-next-banner {
    all: unset;
    display: flex;
    padding: 16px 40px;
    align-items: flex-start;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
}

.button-next-banner:hover {
    background: #000;
    color: #FFF;
}

a {
    color: #4D4D4D;
    text-align: right;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    width: 78px;
    height: 18px;
}

.menu .item {
    width: 84px;
    height: 18px;
    color: #000;
}


.section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 130px;
    width: 100%;
    height: 390px;
    margin: 120px auto 120px auto;
}

.section1-banner {
    width: 570px;
    height: 390px;
    background-image: url(../images/Card103.png);
}

.number{
    display: inline-flex;
    flex-direction: column;
    width: 275px;
    height: 185px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.number-item{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 460px;
    height: 160px;
}

.number h1{
    font-family: 'Roboto';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 0.9px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px auto 120px auto
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 1170px;
   
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.project-list {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 28px;
}

.section3 {
    padding-bottom: 120px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 60px;
    position: absolute;
    top: 90px;
    width: 100%;
    
}

.service-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 1170px;
}

.service-list {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 1170px;
}

.service-list-item {
    height: 370px;
    
    background: #FFF;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 16px;
    gap: 24px;
}

.service-list-item h3 {
    display: flex;
    width: 300px;
    height: 83px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
}

.service-list-item h6 {
    text-align: center;
}

.service-list-item .button {
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    padding: 272px 107px 50px 107px;
}

.service-title h2,
.service-title h1 {
    color: #FFF;
}

.section3{
    width: 100%;
height: 586px;
flex-shrink: 0;
}


.section3-banner {
    position: relative;
    z-index: 0;
}





.section4 {
    position: relative;
    width: 100%;
    height: 586px;
    flex-shrink: 0;
    z-index: 0;
    padding-top: 180px;
}

.partner {
    position: absolute;
    top: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.partner-brand {
    display: flex;
    margin-top: 65px;
    width: 1170px;
    align-items: flex-start;
    gap: 32px;

}

.partner-img {

    display: flex;
    height: 270px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: #FFF;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.20);
}

.partner-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 1170px;
}

.partner-title h2,
.partner-title h1 {
    color: #FFF;
}


.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 60px;
    justify-content: center;
    margin: 120px auto 120px auto;
}

.section5-title {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 1170px;
}

.post {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    gap: 32px;
    width: 1170px;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    
}

.post-list h2 {
    color: #7E7D7D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.post-list h3 {
    height: 48px;
    overflow: hidden;
    color: #7E7D7D;
    text-overflow: ellipsis;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.post-list h5 {
    color: #111;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.32px;
    text-transform: uppercase;
    border-bottom: 2px solid #49BEFF;
}
.section5 p {
    height: 64px;
}

.section6 {
    display: flex;
    width: 1170px;
    align-items: flex-start;
    gap: 100px;
    margin: 120px auto 120px auto;
}

.section6 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    flex: 1 0 0;
}

.section6 .info .info1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    & h3 {
        width: 569.872px;
    }
}

.section6 .info .info2 {
    display: flex;
    align-items: flex-start;
    gap: 80px;


}

.info-phone {
    border-top: 1px solid #111111;
    padding-top: 36px;
}

.info-email {
    border-top: 1px solid #111111;
    padding-top: 36px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row2,
.row3 {
    margin-bottom: 40px;
}

.form-control {
    display: flex;
    height: 57px;
    padding: 0px 30px 0px 25px;
    align-items: center;
    flex: 1 0 0;
    background: #F2F2F2;
    border: none;
}

.form-control2 {
    display: flex;
    height: 57px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 475px;
    background: #F2F2F2;
    padding-left: 25px;
}

.form-control3 {
    height: 123px;
    width: 500px;
    background: #F2F2F2;
    border: none;
}

.input-button {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.row-button {
    background: #FFF;
    border: none;
    padding: 1px;
    color: #111;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

}

/* footer */
.section7 {
    width: 100%;
    height: 573px;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
}

.footer {
    display: flex;
    width: 100%;
    /* padding: 140px 0px 147px 0px; */
    align-items: center;
    gap: 40px;
    position: absolute;
    z-index: 1;
    top: 300px;
    /* padding-left: 375px; */
    justify-content: center;

}

.footer-item-list {
    display: inline-flex;
    padding: 0px 124.222px 27.234px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;

}

.footer-item-list h5 {
    color: #FFFFFFB2;
    display: flex;
    width: 460.778px;
    height: 67px;
    flex-direction: column;
    justify-content: center;
}

.footer-item-list2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;

}

.footer-item-list2 h2,
.footer-item-list2 h5 {
    color: #FFFFFF;
}

.footer-logo {
    display: flex;
    padding: 6px 0px;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 375px;
    gap: 825px;
    border-top: 1px solid #FFFFFF33;
    padding-top: 40px;
}

.footer-logo h5 {
    color: #FFF;

}

.footer-social {
    display: flex;
    gap: 19px;
}

.img-background-section {
    width: 100%;
    position: absolute;
    z-index: -1;
}
.section7 {
    padding-top: 120px;
    width: 100%;
}





@media (max-width: 1440px) {
    .banner {
        max-width: 1440px; 
    }
    .banner-content {
        width: 40%;
    }
    .section1 {
        width: 90%;
       margin: 120px auto;
    }
    .section2 {
        width: 1300px;
        margin: 120px auto;
    }
    .section5 {
        width: 90%; 
    }
}

@media (max-width: 768px) {
    .banner {
        max-width: 1440px; 
    }
    .banner-content {
        width: 40%;
    }
    .section1 {
        width: 90%;
       margin: 120px auto 600px auto;
       display: flex;
       flex-wrap: wrap;
    }
    .section2 {
        width: 1300px;
        margin: 120px auto;
    }
    .section5 {
        width: 90%; 
    }
    .section3 {
        margin: 0px auto 250px auto;
    }
    .service-title {
        width: 80%;
    }
    .service-list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section4 {
        height: 400px;
    }
    .partner-title {
        width: 80%;
    }
    .img-background-section {
        height: 400px;
    }
    .partner {
        top: 220px;
    }
    .partner-brand {
    width: 100%;
    gap: 32px; 
    height: 200px;
    margin: 60px 5px 0px 5px;
    } 
    .partner-img {
        height: 200px;
    }
    .section6 {
        width: 100%;
        margin: 120px auto 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    }
}


@media (max-width: 520px) {
 
}


@media (max-width: 375px) {
 
}

